@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes moveDashes {
  from {
    stroke-dashoffset: 500px;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.Board {
  .svg-container {
    width: 100%;
    height: 100%;
    padding: 0 128px;
  }

  svg {
    width: 100%;
    height: 100%;
    padding: 16px;
    border-radius: 16px;

    background: #eee;
    box-shadow: 0 1px 5px #d0d0d0;

    .possible-station {
      opacity: 0;
      transition: 0.1s ease-out;
    }

    .active & {
      .possible-station,
      .station {
        cursor: pointer;
      }
      .possible-station:hover {
        opacity: 1;
      }
      .station {
        transform-origin: center;
        transform-box: fill-box;
        animation: 10s linear 0s infinite spin;
      }

      .building-track {
        stroke-dasharray: 15px;
        animation: 20s linear 0s infinite moveDashes;
      }
    }
  }

  .tooltip {
    position: absolute;
    padding: 12px 16px;
    top: 0;
    left: 0;
    border-radius: 6px;
    border: 4px solid #eee;
    background: transparentize(#ddd, 0.5);
    color: #222;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    pointer-events: none;

    span {
      display: block;
    }
  }
}
