*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #dddddf;
  color: #333;
  font-size: 1.3rem;
}

html, body {
  height: 100%;
}
