.PlayerView {
  &.active h2 {
    background: #86f084;
    box-shadow: 0 2px 4px #bbb;
  }
  &:not(.active) {
    svg,
    buttons {
      cursor: not-allowed;
    }
  }

  h2 {
    padding: 32px 128px;
    padding-left: 128px+16px;

    .color {
      $size: 32px;
      width: $size;
      height: $size;
      display: inline-block;
      margin: 0 8px;
      border-radius: 50%;
      vertical-align: middle;
      transform: translateY(-3px);
    }
  }

  &.player-0 .color {
    background: #007bff;
  }
  &.player-1 .color {
    background: #fd7e14;
  }

  .player-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0 128px;
    font-size: 1.25em;

    > span {
      display: block;
      padding: 32px;

      &:first-of-type {
        padding-left: 16px;
      }
      &:last-of-type {
        padding-right: 16px;
      }

      &.no-money {
        color: #dc3545;
      }
    }
  }

  .upgrades {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    h3 {
      margin-left: 16px;
      width: 288px;
      letter-spacing: 1px;
      font-size: 1.5em;
    }
  }

  .buttons, .upgrades {
    padding: 32px 128px;
  }

  .upgrades button, .buttons button {
    padding: 16px;
    margin-right: 64px;
    width: 160px;
    border-radius: 16px;
    box-shadow: 0 1px 2px #aaa;

    border: 4px solid #555;
    outline: 0;
    background: transparent;
    cursor: pointer;
    transition: 0.15s ease-out;
  }

  .upgrades button {
    width: 320px;

    &.expensive {
      $color: #dc3545;
      color: $color;
      border-color: $color;
      cursor: not-allowed;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  &:not(.active) button {
    cursor: not-allowed;
  }

  &.active {
    .undo {
      $color: #007bff;

      border-color: $color;
      color: $color;
      &:hover {
        background: $color;
        color: white;
      }
    }

    .redo {
      $color: #28a745;

      border-color: $color;
      color: $color;
      &:hover {
        background: $color;
        color: white;
      }
    }
    .end-turn {
      $color: #dc3545;

      border-color: $color;
      color: $color;
      &:hover {
        background: $color;
        color: white;
      }
    }
    .clear {
      $color: #1d191a;

      border-color: $color;
      color: $color;
      &:hover {
        background: $color;
        color: white;
      }
    }
  }
}
